body {
  margin: 0 auto;
  text-align: center;
  height: 100% !important;
  position: relative !important;
  background-color: orange !important;
}

#root {
  background-color: red !important;
  position: relative !important;
  min-height: 100vh !important;
}

.App {
  background-color: pink !important;
  position: relative !important;
  min-height: 100vh !important;
}