/* .card-deck {
    margin: 0 auto;
            margin: 50px;
    padding: 25px;
    position: relative;
            max-width: 800px;
} */

.card {
    min-width: 1em;
    height: 8em;
    background-color: pink;
}

.card-columns {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}