.body {
    position: absolute;
    z-index: 1;
  }

.nav {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 2;
    background-color: #4DCCBD; 
    opacity: .7;
}

.logo {
    height: 20px;
    zoom: 3;
    margin-left: 5px;
    margin-top: -8px;
    margin-bottom: -10px;
}

.navbar-brand {
    font-weight: 900; 
}

.nav .dropdown-item a {
    color: red !important;
    color: #fff;
}


.nav p a {
    /* color: #FFF; */
}

.nav p a:hover {
    /* color: #FFF; */
}

.nav p a {
    /* background-color: red; */
    color: #FFF;
}

.nav p {
    margin-bottom: 0px !important;
    padding: 10px;  
}