
.carousel {
    height: auto !important;
    /* background-color: red; */
    display: block;
    min-height: 500px !important;
    position: absolute;
    /* background-color: #4DCCBD; */
}

.carousel-indicators {
    top: 0px;
}

.carousel-inner {
    top: 0px;
    height: 550px;
    min-height: 50px !important;
    /* background-color: blue; */
    position: absolute;
    display: block;
    /* background-color: #4DCCBD; */
}

.carousel-caption {
    top: 0px;
    left: 0px !important;
    height: 400px;
    width: 100%;
    padding: 5px;
    text-align: left !important;
    
    display: block;
    background-color: transparent;
    /* background-color: #4DCCBD; */
    color: #fff !important;
}
.carousel-caption h2 {
    font-weight: 900; 
}
.carousel-caption p {
    font-size: 30px; 
}



.carousel-indicators li {
    background-color: #000 !important;
    height: 8px !important;
}

.dropdown-menu {
    background-color: gray;
    top: 200px;
}

