.carousel {
    height: auto !important;
    /* background-color: red; */
    display: block;
    min-height: 500px !important;
    position: absolute;
    /* background-color: light-grey; */
}

.carousel-indicators {
    top: 0px;
}

.carousel-inner {
    top: 0px;
    height: 550px;
    min-height: 50px !important;
    /* background-color: blue; */
    position: absolute;
    display: block;
    /* background-color: light-grey; */
}

.carousel-caption {
    top: 0px;
    left: 0px !important;
    height: 400px;
    width: 100%;
    padding: 5px;
    text-align: left !important;
    
    display: block;
    background-color: transparent;
    /* background-color: orange; */
    color: #000 !important;
}

.carousel-indicators li {
    background-color: #000 !important;
    height: 8px !important;
}