main {
    padding: 70px 0px 50px 0px !important;
    background-color: #f4f4f4;
}

.jumbotron {
    margin: 0 auto;
    padding: 15px !important;
    /* margin-top: 150px; */
    max-width: 900px;
    text-align: left;
    background-color: #fff !important;
    border: 1px solid #ddd;
    /* background-color: grey !important; */
}